body {
    background-color: hsl(212, 45%, 89%);
    font-family: Outfit, Arial, Helvetica, sans-serif;
    font-size: 15px;
}

.main-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: 640px;
    margin-top: 150px;
    background-color: white;
    border-radius: 10px;
    width: 270px;
    height: 410px;
}

img {
    width: 245px;
    border-radius: 10px;
    margin-top: 25px;
}

p {
    text-align: center;

}

.bolder-p {
    font-weight: 700;
    color:  hsl(218, 44%, 22%);
    width: 190px;
}

.ligther-p {
    font-weight: 400;
    color: hsl(216, 15%, 48%);
    width: 230px;
    font-size: 13px;
    margin-bottom: 40px;
}



@media (max-width: 375px) {
    .main-container {
    margin-left: 50px;
    margin-top: 100px;
    }
} 