body {
    background-color: hsl(212, 45%, 89%);
    font-family: specimen, Arial, Helvetica, sans-serif;
    font-size: 15px;
}

.main-container {
    align-items: center;
    justify-content: center;
    background-color: white;
    border-radius: 20%;
}

.image-container {
    width: 200px;
    height: 200px;
    border-radius: 20%;
}

.bolder-p {
    font-weight: 700;
}

.ligther-p {
    font-weight: 400;
}